<!DOCTYPE html>
<html lang="en"><head>
  <!-- test.html -->
  <!--
  <link href='http://fonts.googleapis.com/css?family=Anton' rel='stylesheet' type='text/css'>
  -->
  <title>SumMe!</title>
  <meta charset="UTF-8">
  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static "summe_app/style.css" %}">
</head>
<body>
	<header>
		<div id="top_head"><p class="arial">SumMe!</p><p>{{ message }}</p></div>
		<!-- Sorry mali. Hahahaha {{ variable }} kapag variable -->
	</header>
	<div id="main_wrapper">
		<section id="section_tab">
			<div id="fileTab"><p class="arial">FILE</p></div>
            <a href = "/link">
			<div id="linkTab"><p class="arial">LINK</p></div>
            </a>

		</section> <!--- END DIV TAB -->
			<div id="middle_div">
			<section>
				<!-- Post ng data sa textfiles -->
				<form method="POST" action='upload_file' enctype="multipart/form-data" >
                    {% csrf_token %}
                    {{ form.docfiles }}
                    <input id="uploadBtn" type="submit" value="UPLOAD">
					<input id="textBox" type="file" name="title"><br>
				</form>
			</section>
			</div>
			<footer id="footer">
				<p>Copyrights</p>
			</footer>
	</div> <!-- END DIV main_wrapper -->

</body></html>
