<!DOCTYPE html>
<html lang="en"><head>
   <!--PAGE FOR TEXT PAGE-->
   <!-- test.html -->
  <!--
  <link href='http://fonts.googleapis.com/css?family=Anton' rel='stylesheet' type='text/css'>
  -->
  <title>SumMe!</title>
  <meta charset="UTF-8">
  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static "summe_app/style3.css" %}">
</head>
<body>
	<header>
		<div id="top_head"><p class="arial">SumMe!</p><p>{{ message }}</p></div>
		<!-- Sorry mali. Hahahaha {{ variable }} kapag variable -->
	</header>
	<div id="main_wrapper">
		<section id="section_tab">
            <a href = "http://127.0.0.1:8000/file">
			<div id="linkTab"><p class="arial">FILE</p></div>
            </a>
            <a href = "http://127.0.0.1:8000/link">
			<div id="linkTab"><p class="arial">LINK</p></div>
            </a>
            <div id="fileTab"><p class="arial">TEXT</p></div>


		</section> <!--- END DIV TAB -->
			<div id="middle_div">
			<section>
				<!-- Post ng data sa textfiles -->
				<form method="POST" action="get_text">
                    {% csrf_token %}
                    {{ form }}
					<textarea id="textBox" type="text" name="txt"> Write something... </textarea><br>
				    <input id="uploadBtn" type="submit" value="SumMe">
                </form>
			</section>
			</div>
	</div> <!-- END DIV main_wrapper -->
<footer id="footer">
    <p>Copyrights</p>
</footer>
</body></html>