<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>SAMPLE TEXT</title>
</head>
<body>
<div class="entry-content"><p class="first">Floyd Mayweather Jr. says he&#39;s ready to fight Manny Pacquiao next May in a long anticipated bout that would be the richest ever in boxing.</p>
<p>Mayweather called for negotiations for the fight to be take place, though he warned Pacquiao not to expect to get anywhere near the money that he himself would make.</p>
<p>&#39;&#39;You lost twice and now you&#39;re coming back begging for the same money?&#39;&#39; Mayweather asked. &#39;&#39;That&#39;s not gonna happen.&#39;&#39;</p>
<p>In an interview on the Showtime network from a fight card he was promoting in San Antonio, Mayweather for the first time called for the fight to happen and even gave a date - May 2. He claimed it wasn&#39;t him but Pacquiao&#39;s promoter, Bob Arum, who has been the main obstacle for not making the fight in the last five years.</p>
<p>&#39;&#39;Floyd Mayweather is not ducking or dodging any opponent,&#39;&#39; Mayweather said. &#39;&#39;Bob Arum is stopping the fight. We have been trying to make this fight happen for many years behind the scene.&#39;&#39;</p>
<p>Pacquiao turned the pressure up on Mayweather to make the fight last month, saying the time had come to put on the much anticipated bout. Arum said he had also been in talks with CBS Corp. chairman Les Moonves about the fight.</p>
<p>CBS operates Showtime, which has Mayweather under contract for two more fights in May and September.</p>
<p>Mayweather repeated his old charges about Pacquiao not wanting to do blood tests prior to the fight for it not happening five years ago. He also said he offered Pacquiao $40 million for a bout, but he refused.</p>
<p>Mayweather, who hasn&#39;t lost in 47 fights, said he was confident he could beat Pacquiao and eager to star in an extremely lucrative fight.</p>
<p>&#39;&#39;I know that he&#39;s not on my level,&#39;&#39; Mayweather said. &#39;&#39;The fan would love to see the fight. And, of course, I want to go out with a bang.&#39;&#39;</p>
<p>No one knows how rich a Mayweather-Pacquiao fight would be, coming so late after it first should have happened in 2009. There are some who think both fighters have slipped some with advancing age, but there&#39;s no doubt that the fight still holds tremendous appeal.</p>
<p>It would likely gross at least $250 million, and Mayweather&#39;s purse alone would be more than $100 million.</p>
<p>Mayweather was not asked in the ringside interview about the murder-suicide of rapper Earl Warren Hayes and his wife in Los Angeles on Monday. Police spoke to Mayweather after the killings following media reports that he may have spoken to Hayes before he shot Stephanie Elyse Moseley and then took his own life in their apartment.</p>
</div>
</body>
</html>