<!DOCTYPE html>
<html lang="en"><head>
  <!-- test.html -->
  <!--
  <link href='http://fonts.googleapis.com/css?family=Anton' rel='stylesheet' type='text/css'>
  -->
  <title>SumMe!</title>
  <meta charset="UTF-8">
  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static "summe_app/style_for_testOutput.css" %}">
</head>
<body>
	<header>
		<div id="top_head"><p class="arial">SumMe!</p><p>{{ message }}</p></div>
		<!-- Sorry mali. Hahahaha {{ variable }} kapag variable -->
	</header>
	<div id="main_wrapper">
		<section id="section_tab">
            <div id="linkTab"><p class="arial">CLICK</p></div>
			<div id="linkTab"><p class="arial">DOWNLOAD</p></div>
            <div id="fileTab"><p class="arial"></p></div>
		</section> <!--- END DIV TAB -->
			<div id="middle_div">
			<section>
				<p>Thank you for downloading</p> {{ newfile }}
                    <form action = "/download" method="POST" target ="_blank">
                    {% csrf_token %}
                    <input type="hidden" name="text" value="{{ text }}">
                    <button>download</button>
                    </form>
			</section>
			</div>
	</div> <!-- END DIV main_wrapper -->
<footer id="footer">
    <p>Copyrights</p>
</footer>
</body></html>